
<div style="display: flex; float:right;">

  <div>
  <form action="/restaurants/new" style="margin-right: 2px" method="GET">
    <button class="btn btn-major" type="submit" id="search-button" style="width:130px;">Create</button>
  </form>
  </div>

  <div>
    <form action="/logout" method="POST">
    <button class="btn btn-major" type="submit" id="search-button" style="width:130px;">Logout</button>
    </form>
  </div>

</div>