<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/index.css" rel="stylesheet" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />

  {{!--試用下載的font-awesome但未能顯示 <link href="/stylesheets/fontawesome.min.css" rel="stylesheet"> --}}

  <title>Restaurant List</title>
</head>

<body>


  {{{ body }}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>